.ui-button {
  -fx-border-radius: 0;
  -fx-background-radius: 0;
  -fx-background-color: whitesmoke;
  -fx-border-color: gainsboro;
  -fx-border-width: 1px;
}

.ui-button:hover {
  -fx-background-color: gainsboro;
}

.scroll-pane {
  -fx-background-insets: 0px;
  -fx-padding: 0px;
}

.scrollpane-button {
  -fx-border-radius: 0;
  -fx-background-radius: 0;
  -fx-background-color: white;
  -fx-border-color: gainsboro;
  -fx-border-width: 1px;
  -fx-border-insets: -1px;
  -fx-padding: 0px;
}

.scrollpane-button:hover {
  -fx-background-color: whitesmoke;
}

.scrollpane-button-child {
  -fx-background-color: rgba(0, 0, 0, 0);
  -fx-border-radius: 0;
  -fx-background-radius: 0;
  -fx-border-width: 0px;
}

.scrollpane-button-child:hover {
  -fx-background-color: rgba(0, 0, 0, 0);
}

.transparent_button {
  -fx-background-color: rgba(0, 0, 0, 0);
  -fx-text-fill: white;
  -fx-font-weight: 800;
  -fx-border-width: 2px;
  -fx-border-insets: 5px;
  -fx-border-color: white;
}

.transparent_button:hover {
  -fx-background-color: rgba(0, 0, 0, 0);
}

.grid-pane {
  -fx-font-size: 19.5em;
}

.root {
  -fx-font-size: 12px;
}

.progress-bar > .bar {
  -fx-background-insets: 0px;
  -fx-background-color: -fx-box-border, white;
  -fx-background-radius: 0;
}

.progress-bar:indeterminate > .bar {
  -fx-background-color: -fx-box-border, white;
  -fx-background-radius: 0;
}

.progress-bar > .track {
  -fx-text-box-border: transparent;
  -fx-background-color: -fx-box-border, gray;
  -fx-background-insets: 0px;
}
