.area-button {
  -fx-background-radius: 0;
  -fx-border-radius: 0;
  -fx-border-style: solid;
  -fx-border-color: gainsboro;
  -fx-border-width: 0px 1px 0px 0px;
  -fx-background-color: white;
  -fx-border-insets: 0px;
}

.area-button:focused {
  -fx-border-insets: 0px;
  -fx-background-color: whitesmoke;
}

.bsp-button {
  -fx-border-radius: 0;
  -fx-background-radius: 0;
  -fx-background-color: gainsboro;
  -fx-border-color: whitesmoke;
  -fx-border-insets: -1px;
}

.bsp-button:hover {
  -fx-background-color: whitesmoke;
}

.bsp-button:focused {
  -fx-background-color: white;
}

.square {
  -fx-border-radius: 0;
  -fx-background-radius: 0;
}

.transparent {
  -fx-background-color: rgba(0, 0, 0, 0);
}

.highlight_button {
  -fx-background-color: white;
}

.transparent_button {
  -fx-background-color: rgba(0, 0, 0, 0);
  -fx-text-fill: white;
  -fx-font-weight: 800;
  -fx-border-width: 2px;
  -fx-border-insets: 5px;
  -fx-border-color: white;
}

.inset-object {
  -fx-border-style: solid;
  -fx-border-color: gainsboro;
  -fx-background-color: white;
}

.shadow {
  -fx-effect: dropshadow(gaussian, dimgray, 15, 0.1, 5, 5);
}

.small_shadow {
  -fx-effect: dropshadow(gaussian, dimgray, 8, 0.1, 3, 3);
}

.debug {
  -fx-border-style: solid;
  -fx-border-color: red;
  -fx-grid-lines-visible: true;
}
