@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital@0;1&family=IBM+Plex+Sans+Condensed:ital@0;1&family=IBM+Plex+Sans:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&family=IBM+Plex+Serif:ital@0;1&display=swap');

.area-button {
  -fx-background-radius: 0;
  -fx-border-radius: 0;
  -fx-border-style: solid;
  -fx-border-color: gainsboro;
  -fx-border-width: 0px 1px 0px 0px;
  -fx-background-color: white;
  -fx-border-insets: 0px;
}

.area-button:focused {
  -fx-border-insets: 0px;
  -fx-background-color: whitesmoke;
}

.bsp-button {
  -fx-border-radius: 0;
  -fx-background-radius: 0;
  -fx-background-color: gainsboro;
  -fx-border-color: whitesmoke;
  -fx-border-insets: -1px;
}

.bsp-button:hover {
  -fx-background-color: whitesmoke;
}

.bsp-button:focused {
  -fx-background-color: white;
}

.square {
  -fx-border-radius: 0;
  -fx-background-radius: 0;
}

.title-bold {
  -fx-font-weight: 800;
  -fx-font-size: 50;
  -fx-font-family: 'IBM Plex Sans', sans-serif;
}

.small-title-bold {
  -fx-font-weight: 800;
  -fx-font-size: 20;
  -fx-font-family: 'IBM Plex Sans', sans-serif;
}

.subtitle {
  -fx-font-weight: 400;
  -fx-font-size: 12;
  -fx-font-family: 'IBM Plex Sans', sans-serif;
}

.overlay-text .text {
  -fx-fill: white;
  /* -fx-font-size: 3rem; */
}

.transparent {
  -fx-background-color: rgba(0, 0, 0, 0);
}

.inset-object {
  -fx-border-style: solid;
  -fx-border-color: gainsboro;
  -fx-background-color: white;
}

.white {
  -fx-border-color: white;
  -fx-background-color: white;
}

.shadow {
  -fx-effect: dropshadow(gaussian, dimgray, 15, 0.1, 5, 5);
}

.small-shadow {
  -fx-effect: dropshadow(gaussian, dimgray, 8, 0.1, 3, 3);
}

.debug {
  -fx-border-style: solid;
  -fx-border-color: red;
  -fx-grid-lines-visible: true;
}
